{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title}Las Americas{% endblock}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'menu' %}">Menu</a>
        <a href="{% url 'create_booking' %}">Book a Table</a>
        <a href="{% url 'my_bookings' %}">My Bookings</a>
        <a href="{% url 'contact' %}">Contact</a>
    </nav>
</header>

<main>

    {% if messages %}

    {% for message in messages %}

        <div class="message">
            {{ message }}
        </div>

    {% endfor %}

{% endif %}


    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&copy; 2026 Las Americas. All rights reserved.</p>
</footer>

</body>
</html>