{% extends 'base.html' %}

{% block title %}
Delete Booking
{% endblock %}

{% block content %}

<section class="page-section">

    <h1>Delete Booking</h1>

    <p>
        Are you sure you want to permanently delete this booking?
    </p>

    <p>
        Table {{ booking.table.table_number }}
        on {{ booking.booking_date }}
        at {{ booking.booking_time }}
    </p>

    <form method="POST">

        {% csrf_token %}

        <button type="submit" class="button">
            Confirm Delete
        </button>

    </form>

</section>

{% endblock %}