{% extends 'base.html' %} {% block title %} My Bookings {% endblock %} {% block
content %}

<section class="page-section">
  <h1>My Bookings</h1>

  {% for booking in bookings %}

  <div class="booking-card">
    <h3>Table {{ booking.table.table_number }}</h3>

    <p>Date: {{ booking.booking_date }}</p>

    <p>Time: {{ booking.booking_time }}</p>

    <p>Guests: {{ booking.number_of_guests }}</p>

    <p>{{ booking.customer_message }}</p>

    <a href="{% url 'edit_booking' booking.id %}" class="button"> Edit </a>

    <a href="{% url 'delete_booking' booking.id %}" class="button"> Delete </a>
    
  </div>
</section>
